/* modal.scss */
.modal-overlay {
    position: fixed;
    padding: 0 70px;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    &__content {
      position: relative;
      background: white;
      padding: 2rem;
      border-radius: 24px;
      position: relative;
      width: 100%;
      max-width: 400px;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    }
    &__close {
      position: absolute;
      right: -20%;
      top: -3%;
      background: transparent;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }