// Переменные
$border-color: #333;
$padding-base: 1rem;
$font-bold: 600;

.movie-details{
  &__heading {
    font-weight: $font-bold;
    font-size: 2.4em;
    margin-bottom: $padding-base;
    padding-bottom: 0.5rem;
    color: #FFFFFF;
  }
  &__list{
    padding: 0;
  }

  &__list-item {
    display: flex;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    padding: 0.4rem 0;
    width: 35%;
    &:last-child {
      border-bottom: none;
    }
    &-label {
      font-weight: $font-bold;
      flex: 1;
      max-width: fit-content;
      color: #FFFFFF;
      white-space: nowrap; // текст не переносится
      margin-right: 8px;
      font-weight: 500;
    }
    &-dashed {
      width: 56%;
          padding-top: 10px;
      border-bottom: 1px dashed #FFFFFF;
      flex-grow: 1; // занимает всё свободное пространство
      border-bottom: 1px dotted #999;
      margin: 0 8px; // отступы от label и value
    }
  }
  &__list-item-value {
    flex: 1;
    text-align: right;
    color: #FFFFFF;
     white-space: nowrap; // текст не переносится
    flex-shrink: 0; // не сжимается
    }
}
