.setings__group{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 60px 0;
    &-card{
        display: flex;
        align-items: center;
        gap: 20px;
        &-img{
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: #d5d5d5;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            line-height: 32px;
            font-weight: bold;
            &-email{
                background-image: url("../../../public/emailset.svg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
        &-description{
            &-sub{
                font-size: 18px;
                line-height: 24px;
                color: #888;    
            }
            &-email{
                font-size: 24px;
                font-weight: bold;
                color: #fff; 
            }
            &-username{
                font-size: 24px;
                font-weight: bold;
                color: #fff;
            }
        }
    }
    &-logout-btn{
        padding: 18px 24px;
        font-size: 18px;
        font-weight: bold;
        color: #fff;
        background-color: #393B3C;
        border: none;
        border-radius: 28px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        &:hover {
            background-color: #67A5EB;
        }
    }
}