.favorite__movie-list {
    width: 100%;
    display: flex;
    gap: 37px;
    padding-left: 0;
    flex-wrap: wrap;
    max-height: 65vh;
    
    overflow-y: scroll;
    &-item{
        list-style-type: none;
        position: relative;
        display: flex;
        background-color: #f0f0f0;
        border-radius: 16px;
        border: 1px solid #fff;
        min-width: 224px;
        max-width: 224px;
        height: 336px;
        box-shadow: 0px 0px 80px 0px rgba(255, 255, 255, 0.33);
    }
    &-image{
         width: 100%;
         border-radius: 16px;
    }
}
@media (max-width: 1300px) {
    .favorite__movie-list {
        flex-wrap: nowrap;
        overflow-y: scroll;
    }
}