// Переменные цветов
$primary-bg: linear-gradient(180deg, rgba(20, 30, 48, 1) 0%, rgba(36, 59, 85, 0.9) 50%, rgba(15, 15, 15, 1) 100%);
$text-color: white;
$hover-color: #4a90e2;
$menu-bg: rgba(20, 30, 48, 0.95);

// Основные стили навбара
.navbar {
 
  color: $text-color;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;

  &__container {
    padding: 27px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
   
  }

  &__logo {
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    color: $text-color;
    display: flex;
    align-items: center;

    &-dot {
      color: $hover-color;
      font-size: 30px;
      margin-right: 5px;
      width: 143px;
      height: 32px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-image: url('../../../public/маруся.png');
      filter: none;
    }
  }

  &__links {
    max-width: 14%;
    list-style: none;
    display: flex;
    gap: 39px;
    margin: 0;
    padding: 0;

    li {
      display: inline;
    }

    a {
      text-decoration: none;
      color: $text-color;
      font-size: 24px;
      line-height: 32px;
      transition: color 0.3s;

      &:hover {
        cursor: pointer;
      border-bottom: 1.5px solid #DC5DFC;
      padding-bottom: 5px;
      }
    }
   
  }
  &__custom{
    max-width: 51%;
    display: flex;
    flex: 4;
  }
  &__entry{
    display: flex;
    flex: 1;
    padding: 0 3px;
    align-items: flex-end;
    max-width: 6%;
    font-size: 23px;
    color: #fff;
    background-color: transparent;
    justify-content: flex-end;
    outline: none;
  }
  &__user {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    &-name a{
      font-size: 24px;
      line-height: 32px;
      color: #fff;
    }
    &-name a:hover{
      cursor: pointer;
      border-bottom: 1.5px solid #DC5DFC;
      padding-bottom: 5px;
    }
  }

  // Бургер-меню
  &__burger {
    background: none;
    border: none;
    font-size: 24px;
    color: $text-color;
    display: none;
    cursor: pointer;
  }

  // Мобильное меню
  &__mobile-menu {
    list-style: none;
    background: $menu-bg;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;

    li {
      padding: 10px 0;
    }

    a {
      text-decoration: none;
      color: $text-color;
      font-size: 18px;

      &:hover {
        color: $hover-color;
      }
    }
  }
}
.navbar-custom{
    &__input{
       width: 85%;
       border-radius: 8px;
       background-color: #393B3C;
       outline: none;
       border: none;
       padding: 12px 52px;
    }
}
.mobile-navbar{
  &__nav{
    display: none;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  &__button{
    background-color: transparent;
    outline: none;
    border: none;
  }
}
// .mobile-navbar__search-wrapper {
//   position: fixed;
//   top: 5px;
//   left: 0;
//   right: 0;
//   background-color: #0d1224;
//   padding: 12px;
//   z-index: 1000;

//   input {
//     width: 90%;
//     margin: 0 auto;
//     display: block;
//     padding: 10px;
//     border-radius: 10px;
//     border: none;
//     font-size: 16px;
//   }
// }
.mobile-navbar__search {
  position: fixed;
  top: 5px;
  left: 0;
  right: 0;
  background-color: transparent;
  padding: 12px;
  z-index: 1000;

  &-wrapper {
    position: relative;
    width: 90%;
    margin: 0 auto;

    input {
      width: 80%;
      padding: 15px 40px 15px 36px; // слева и справа под иконки
      border-radius: 10px;
      border: none;
      color: #fff;
      outline: none;
      background-color: #393B3C;
      font-size: 16px;
    }

    .search-icon {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      font-size: 18px;
      color: #888;
      pointer-events: none;
    }

    .close-icon {
      position: absolute;
      top: 30%;
      right: 10px;
      transform: translateY(-50%);
      font-size: 18px;
      background: none;
      border: none;
      color: #888;
      cursor: pointer;

      &:hover {
        color: #fff;
      }
    }
  }
}

// Адаптивность
@media (max-width:1300px) {
  .navbar {
    &__custom {
      flex: 2;
  }
  &__links {
      display: none;
    }
    &__custom{
      display: none;
    }
    &__user{
      display: none;
    }
    &__entry {

      margin-top: 0;
      display: none;
      flex: 0;
      align-items: flex-end;
      justify-content: flex-end;
  }
  }
  .mobile-navbar{
    &__nav{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
    }
    &__button{
      background-color: transparent;
      outline: none;
      border: none;
    }
  }
}
@media (max-width:1023px) {
  .navbar {
    &__custom {
      flex: 1;
  }
  }
}
@media (max-width: 768px) {
  .mobile-navbar{
    &__nav{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
    }
    &__button{
      background-color: transparent;
      outline: none;
      border: none;
    }
  }
  .navbar {
    &__links {
      display: none;
    }
    &__custom{
      display: none;
    }
    &__user{
      display: none;
    }
    &__logo-dot{
      width: 80px;
      height: 32px;
    }
  }
}
@media (max-width: 452px) {
  .mobile-navbar{
    &__nav{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
    }
    &__button{
      background-color: transparent;
      outline: none;
      border: none;
    }
  }
}