// Переменные цветов
$primary-bg: linear-gradient(180deg, rgba(20, 30, 48, 1) 0%, rgba(36, 59, 85, 0.9) 50%, rgba(15, 15, 15, 1) 100%);
$text-color: white;
$hover-color: #4a90e2;
$menu-bg: rgba(20, 30, 48, 0.95);

// Основные стили навбара
.navbar {
 
  color: $text-color;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;

  &__container {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
   
  }

  &__logo {
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    color: $text-color;
    display: flex;
    align-items: center;

    &-dot {
      color: $hover-color;
      font-size: 30px;
      margin-right: 5px;
      width: 143px;
      height: 32px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-image: url(../../../public/маруся.png);
      filter: none;
    }
  }

  &__links {
    list-style: none;
    display: flex;
    gap: 20px;

    li {
      display: inline;
    }

    a {
      text-decoration: none;
      color: $text-color;
      font-size: 16px;
      transition: color 0.3s;

      &:hover {
        color: $hover-color;
      }
    }
  }

  // Бургер-меню
  &__burger {
    background: none;
    border: none;
    font-size: 24px;
    color: $text-color;
    display: none;
    cursor: pointer;
  }

  // Мобильное меню
  &__mobile-menu {
    list-style: none;
    background: $menu-bg;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;

    li {
      padding: 10px 0;
    }

    a {
      text-decoration: none;
      color: $text-color;
      font-size: 18px;

      &:hover {
        color: $hover-color;
      }
    }
  }
}
.navbar-custom{
    &__input{
        min-width: 655px;
       border-radius: 8px;
       background-color: #393B3C;
       outline: none;
       border: none;
       padding: 12px 52px;
    }
}

// Адаптивность
@media (max-width: 768px) {
  .navbar {
    &__links {
      display: none;
    }

    &__burger {
      display: block;
    }
  }
}